@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Poppins&display=swap');

/* == GLOBAL == */
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* == HTML == */
HTML {
    font-family: var(--FF);
    font-size: var(--FS);
}

/* == ROOT == */
:root {
    --BGCOLOR: #ffffff;
    --BODY-BGCOLOR: #ffffff;
    --BUTTON-COLOR: #ffffff;
    --FF: "Caveat", sans-serif;
    --FONT-COLOR: #000000;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    --HEADER-BGCOLOR: #ff0000;
    --HEADER-COLOR: #ffffff;
    --LINK-ACTIVE: #800000;
    --LINK-COLOR: #ffffff;
    --LINK-HOVER: #800000;
    --NAV-BGCOLOR: #ff0000;
    }

/* == BODY == */
body{
    background-color: var(--BGCOLOR);
    font-family: 'Caveat', sans-serif;
    margin: 0 auto;
    max-width: 900px;
    min-height: 100vh;
}

/* == HEADER == */
.header {
    position: relative;
    top: 0;
    z-index: 1;
}

.header__h1 {
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: 25px;
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDERS);
    font-weight: bold;
    padding: 25px;
}

.header__ul {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    list-style-type: none;
}

.hero-index-page{
    position: relative;
    text-align: center;
    color: var(--BODY-BGCOLOR);
    margin-bottom: 75px;
}

.hero-index-page-img{
    width: 900px;
    height: auto;
}

.hero-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

/* == CURRENT SPECIAL OFFERS == */
.current-special-offers{
    margin-bottom: 50px;
}

.current-special-offers h2{
    text-align: center;
    margin-bottom: 75px;
}

.special-offer-1{
    display: flex;
    align-items: center;
}

.special-offer-1-img{
    width: 300px;
}

.special-offer-1-img-text{
    text-align: right;
}

.special-offer-1-text{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.special-offer-2{
    display: flex;
    align-items: center;
}

.special-offer-2-img{
    width: 300px;
}

.special-offer-2-img-text{
    text-align: right;
}

.special-offer-2-text{
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

/* == MENU == */
.menu-page h1{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

.menu-items {
    display: flex;
    margin-bottom: 50px;
}

.menu-items img {
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
}

.menu-items img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.menu-items-details {
    margin-left: 20px;
}

.menu-items-title {
    font-size: 24px;
    font-weight: bold;
}

.menu-items-description {
    font-size: 18px;
}

.menu-items-price {
    font-weight: bold;
    font-size: 20px;
}

/* == CONTACT == */
.contact h2{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
}

form {
    max-width: 420px;
    margin: 25px auto;
    margin-bottom: 50px;
}

.feedback-input {
    color: #000000;
    font-family: 'Caveat', sans-serif;
    font-size: 18px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #ff0000;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #ff0000;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: 'Caveat', sans-serif;
    width: 100%;
    background: #ff0000;
    border: 0px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
}
[type="submit"]:hover {
    background: #800000;
}

/* == ABOUT == */
.about-page-img{
    width: 900px;
    height: auto;
}

.about-page h2{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    
}

.about-page-text-1, .about-page-text-2{
    text-align: left;
    margin-bottom: 25px;
}

.about-page-text-3{
    margin-bottom: 50px;
}

/* == LINKS == */
a:any-link {
    color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a:active {
    color: var(--LINK-ACTIVE);
}

a {
    text-decoration: none;
}

/* == FOOTER == */
.footer {
    background-color: var(--HEADER-BGCOLOR);
    bottom: 0;
    color: var(--HEADER-COLOR);
    position: relative;
    text-align: center;
    padding: 25px;
  }

.footer__container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 75px;
}

.footer__container img {
    width: 25px;
    height: 25px;
}

.footer__hours, .footer__contact, .footer__address {
    box-sizing: border-box;
    flex: 1;
}

.nowrap {
    white-space: nowrap;
}

@media screen {
    .header__h1::before {
        content: '🍔'
    }
}